* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: .6em;
    width: 100%;
    min-width: 300px;
}

.outer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.outer>* {
    margin: 15px 20px;
}

.form,
.rgb-slider {
    font-size: 16px;
    padding: 0.5em;
    border: none;
    box-shadow: 2px 2px 5px #888;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: #a9a9a9;
    font-weight: 700;
}

.form:focus {
    outline: 2px solid #888;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
    padding: 5px;
    font-family: lobster, cursive;
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

h2 {
    font-family: Helvetica, sans-serif;
    text-shadow: 2px 1px 2px #888;
    font-size: 2.5em;
    border: 0 solid;
    border-top-width: 100px;
    border-bottom-width: 100px;
    box-shadow: 2px 2px 5px #888;
    text-align: center;
    margin-bottom: 20px;
}

.under {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    /* margin: 20px 0; */
}

input::placeholder {
    color: #d0d0d0;
}

input#hex:invalid {
    background-color: lightpink;
}

fieldset {
    border-radius: 5px;
    padding: 10px 15px 20px 15px;
}

legend {
    background-color: #4c4c4c;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
}

footer {
    text-align: center;
}

p {
    font-size: .7em;
    font-weight: 400;
    opacity: .5;
    font-style: italic;
}

@keyframes changeColor {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green
    }

    75% {
        color: blue;
    }

    100% {
        color: red;
    }
}

@media (min-width: 425px) {
    body {
        font-size: .8em;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1em;
    }

    .under {
        flex-direction: row;
    }

    h2 {
        border-top-width: 120px;
        border-bottom-width: 120px;
    }

    fieldset {
        padding: 20px 15px;
    }

    .outer>* {
        margin: 20px 20px;
    }

    h1 {
        letter-spacing: 10px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.1em;
    }

    .outer {
        max-width: 1000px;
    }

    .form {
        font-size: 22px;
    }
}